
@font-face {
  font-family: Cornerstone;
  src: url(Cornerstone.ttf);
}

.output-container {
  margin-top: 30px;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  font-size: 2rem;
}

.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
  margin: 0;
  height: 100%;
}

.check {
  width: 150px;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.check.none {
  opacity: 0;
  width: 150px;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.x {
  opacity: 0;
  width: 150px;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.x.add {
  opacity: 100;
  width: 150px;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.search {
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

#myInput {
  background-color: #a8daf2;
  height: 75px;
  width: 400px;
  padding-left: 20px;
  margin: -2px;
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
  font-family: Cornerstone;
  font-size: 1.5rem;
  border-color: #000000;
  -webkit-box-shadow: 10px 10px rgb(0, 0, 0);
  box-shadow: 10px 10px rgb(0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.box-shadow {
  margin-right: 20px;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px rgb(0, 0, 0);
  box-shadow: 10px 10px rgb(0, 0, 0);
}

textarea:focus,
input:focus {
  outline: none;
}
::-webkit-input-placeholder {
  color: #000;
  font-size: 1.5rem;
}
::-moz-placeholder {
  color: #000;
  font-size: 1.5rem;
}
:-ms-input-placeholder {
  color: #000;
  font-size: 1.5rem;
}
::-ms-input-placeholder {
  color: #000;
  font-size: 1.5rem;
}
::placeholder {
  color: #000;
  font-size: 1.5rem;
}

#inputButton {
  display: -webkit-box;

  display: -ms-flexbox;
  color: #000;
  display: flex;
  background-color: #f8ee8e;
  height: 90px;
  width: 100px;
  padding-left: 30px;
  margin-right: 20px;
  padding-top: 28px;
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
  font-family: Cornerstone;
  font-size: 1.5rem;
  border-color: #000;
  -webkit-box-shadow: 10px 10px rgb(0, 0, 0);
  box-shadow: 10px 10px rgb(0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#inputButton:hover {
  -webkit-transform: translate(2px, 2px);

  -ms-transform: translate(2px, 2px);

  transform: translate(2px, 2px);
  -webkit-box-shadow: 8px 8px rgb(0, 0, 0);
  box-shadow: 8px 8px rgb(0, 0, 0);
}

#inputButton:active {
  -webkit-transform: translate(6px, 6px);
  -ms-transform: translate(6px, 6px);
  transform: translate(6px, 6px);
  -webkit-box-shadow: 4px 4px rgb(0, 0, 0);
  box-shadow: 4px 4px rgb(0, 0, 0);
  background-color: #fffad1;
}

body {
  color: #000;
  background-color: #ff979d;
  overflow: visible;
}

h1,
p {
  color: #000;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  font-family: Cornerstone;
}

/* Verify Color */

/* RED */

body.red {
  background: #cb4848;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#inputButton.red {
  background-color: #f8ee8e;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-tap-highlight-color: transparent;
}

#myInput.red {
  background-color: #f8ee8e;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-tap-highlight-color: transparent;
}

/* GREEN */

body.green {
  background: #60c8a8;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

#inputButton.green {
  background-color: #a8daf2;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-tap-highlight-color: transparent;
}

#myInput.green {
  background-color: #a8daf2;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-tap-highlight-color: transparent;
}

h2 {
  font-size: 2rem;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  font-family: Cornerstone;
  text-align: center;
}

#about.green {
  color: #000;
  font-size: 2rem;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  font-family: Cornerstone;
}

.popupContainer {
  position: absolute;
  background-color: #d3d3d3;
  height: 90%;
  width: 90%;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-size: 2rem;
  border-style: solid;
  border-width: 6px;
  border-radius: 25px;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: scroll;
}

.popupVis {
  visibility: hidden;
  opacity: 0%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.popupOn {
  position: absolute;
  width: 40px;

  border-style: none;
  background-color: transparent;
  top: 95%;
  left: 5%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a.popupLink {
  color: #118e64;
}

a.popupLink:visited {
  color: #745193;
}

.getListed {
  color: #118e64;
}

.supportedProjects {
  color: #745193;
}

.popupX {
  position: relative;
  height: 40px;
  width: 40px;
  margin: 20px;
  border-style: none;
  background-color: transparent;
}

.popupText {
  text-align: center;
  margin: 50px;
  line-height: 4rem;
}
.popupImg {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .check {
    width: 120px;
  }

  .check.none {
    width: 120px;
  }
  .x {
    width: 120px;
  }

  .x.add {
    width: 120px;
  }

  h2 {
    font-size: 1.2rem;
  }
  #about.green {
    font-size: 1.2rem;
  }

  #about.red {
    font-size: 1.2rem;
  }
  .output-container {
    margin-top: 30px;
  }

  ::-webkit-input-placeholder {
    color: #000;
    font-size: 1.2rem;
  }
  ::-moz-placeholder {
    color: #000;
    font-size: 1.2rem;
  }
  :-ms-input-placeholder {
    color: #000;
    font-size: 1.2rem;
  }
  ::-ms-input-placeholder {
    color: #000;
    font-size: 1.2rem;
  }
  ::placeholder {
    color: #000;
    font-size: 1.2rem;
  }

  #inputButton {
    color: #000;
    height: 6rem;
    width: 100px;
    padding-left: 31px;
    margin-right: 20px;
    padding-top: 33px;
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
    font-family: Cornerstone;
    font-size: 1.2rem;
    border-color: #000000;
    -webkit-box-shadow: 10px 10px rgb(0, 0, 0);
    box-shadow: 10px 10px rgb(0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #myInput {
    background-color: #a8daf2;
    height: 5rem;
    width: 200px;
    padding-left: 20px;

    border-style: solid;
    font-family: Cornerstone;
    font-size: 1.2rem;
    -webkit-tap-highlight-color: transparent;
  }
  #myInput.red {
    font-size: 1.2rem;
  }
  #myInput.green {
    font-size: 1.2rem;
  }
}

.logo {
  width: 30px;
  margin: 0;
  position: absolute;
  top: 95%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#brain:hover {
  -webkit-transition: 0.4 ease;
  -o-transition: 0.4 ease;
  transition: 0.4 ease;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

@media screen and (max-height: 400px) {
  .check {
    width: 95px;
  }

  .check.none {
    width: 95px;
  }
  .x {
    width: 95px;
  }

  .x.add {
    width: 95px;
  }

  h2 {
    font-size: 0.8rem;
  }
  #about.green {
    font-size: 0.8rem;
  }

  #about.red {
    font-size: 0.8rem;
  }
}
.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(white),
    to(black)
  );
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}
